<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="" debug="false">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %level [%thread] %class:%line %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>info.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %level [%thread] %class:%line %msg%n</pattern>
        </encoder>
        <append>false</append>
        <prudent>false</prudent>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <!-- <appender-ref ref="file"/> -->
    </root>

</configuration>